$background-primary: #dff2f5;
$background-secondary: #fcfcfc;

$color-primary: #b3cdd1;
$color-primary-dark: #497278;

$color-secondary-light: #2998ff;
$color-secondary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-deep-blue: #404e7c;
$color-deep-blue-light: #4a5b91;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-text: #404040;
