$background-primary: #dff2f5;
$background-secondary: #fcfcfc;

$color-secondary-light: #2998ff;
$color-secondary-dark: #5643fa;

$color-grey-light-2: #eee;

$color-deep-blue: #404e7c;
$color-deep-blue-light: #4a5b91;

$color-white: #fff;
$color-black: #000;

$color-text: #404040;
